/* ------------- Global ------------- */

@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* ------------- Curseur ------------- */

.pointer {
  cursor: url('img/pointer.png'), pointer;
}

/* ------------- Images ------------- */

.logo_dark {
  display : block;
  margin-left: auto;
  margin-right: auto;
  width: 18%;
}

.smiley {
  display : block;
  margin-left: auto;
  margin-right: auto;
  width: 18%;
}

@media only screen and (max-width: 600px) {
  .smiley {
      width: 50%; 
      margin-bottom: 10px;
  }
}

/* ------------- Modes ------------- */

body {
  background-color: #436d9a;
  color: #e0e1e4;
  cursor: url(img/cursor.png), auto;
}

body.light-mode {
  background-color: #e0e1e4;
  color: #436d9a;
}

.container {
  margin-top: 20px;
  margin-left: 20px
}

.switch {
  cursor: url('img/cursor_light.png'), auto;
  position: absolute;
  width: 60px;
  height: 34px;
}

.light-mode .switch {
  cursor: url('img/cursor.png'), auto;
}
.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: url('img/pointer.png'), pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e0e1e4;
  transition: .4s;
}

.light-mode .slider {
  cursor: url('img/pointer_light.png'), pointer;
  cursor: cover;
}

.slider:before {
  position: absolute;
  cursor: url('img/pointer.png'), pointer;
  content: "";
  height: 27px;
  width: 27px;
  left: 4px;
  bottom: 4px;
  background-image: url('img/sun.png');
  background-size: cover;
  transition: .4s;
}

.light-mode .slider:before {
  cursor: url('img/pointer_light.png'), pointer;
  background-image: url('img/moon.png');
  background-size: cover;
}

input:checked + .slider {
  background-color: #436d9a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}


/* ------------- Textes ------------- */

.titre {
  text-align: center;
  font-family: 'Glacial Indifference';
  font-size: 250%;
  color: #e0e1e4;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

body.light-mode .titre {
  color: #436d9a;
}

.footer {
  position: fixed;
  text-align: center;
  font-family: 'Glacial Indifference';
  font-size: 100%;
  color: #e0e1e4;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.light-mode .footer {
  color: #436d9a;
}

.redirect {
  text-align: center;
  font-family: 'Glacial Indifference';
  font-size: 250%;
  color: #e0e1e4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ------------- Boutons ------------- */

#boutonEmail {
  display: block;
  width: 200px;
  height: 75px;
  text-align: center;
  background-color: #e0e1e4;
  color: #436d9a;
  font-family: 'Glacial Indifference';
  font-size: 30px;
  margin: auto;
  border-radius: 30px;
  border: none;
}

body.light-mode #boutonEmail {
  background-color: #436d9a;
  color: #e0e1e4;
}

#boutonEmail:hover {
  font-size: 35px;
  cursor: url('img/pointer.png'), pointer;
}

.light-mode #boutonEmail:hover {
  cursor: url('img/pointer_light.png'), pointer;
  cursor: cover;
}
